*, *:before, *:after
    box-sizing: border-box

* 
    margin: 0

html
    font-size: 16px
    max-width: 100vw
    
body
    background-color: var(--body-bg)
    color: var(--text-color)
    font-family: var(--font-family-default)
    font-size: 1rem
    line-height: 1.4

section, article, aside, header, footer, nav, main, figure, figcaption, code, picture
    display: block

h1, h2, h3, h4, h5, h6, p, ul, ol, dl
    margin: 0 0 1rem

img
    max-width: 100%
    height: auto


// ----------------------------------------------------
// TYPOGRAPHY

em, i
    font-style: italic
strong, b
    font-weight: bold
strong em, em strong, b i, i b
    font-style: italic
    font-weight: bold
u
    text-decoration: underline
del
    text-decoration: line-through

h1, h2, h3, h4, h5, h6
    font-weight: bold

h1
    font-size: 2rem
h2
    font-size: 1.5rem
h3
    font-size: 1.3rem
h4
    font-size: 1.1rem
h5
    font-size: 1rem
h6
    font-size: 0.8rem

small
    font-size: 0.8rem


// ----------------------------------------------------
// LINKS & BUTTONS

a:focus, input:focus, textarea:focus, button:focus, .slick-slide:focus
    outline: none

a, button, .btn
    transition: all 0.35s

a
    -webkit-tap-highlight-color: transparent //ios fix
    color: var(--text-color)
    text-decoration: underline
    &:hover
        opacity: 0.5


// ----------------------------------------------------
// LISTS

.list-unstyled
    list-style-type: none
    padding: 0
    margin: 0


// ----------------------------------------------------
// LAYOUT

@mixin make-container($padding:true)
    +sizes($container-margins, (margin-left, margin-right))
    +sizes($container-width, width)
    @if $container-fixed-breakpoint
        +breakpoint($container-fixed-breakpoint)
            margin-left: auto
            margin-right: auto