:root {
    --font-family-default: sans-serif;

    --accent-color: blue;
    --body-bg: white;
    --text-color: black;
}

// GRID
$gutter: 20px;
$grid-columns: 12;

// LAYOUT
$section-margin: 4rem;

// CONTAINER
$container-width: (
    md:(940px + $gutter),
    //lg:(1140px + $gutter),
);
$container-fixed-breakpoint:     'md';
$container-fixed-breakpoint-max: 'sm-max';

$container-margins: (
    xs:($gutter),
    sm:($gutter*2),
    md:($gutter*2),
    lg:($gutter*2),
);

// MEDIA QUERIES BREAKPOINTS
$screen-xs:                  480px;
$screen-sm:                  768px;
$screen-md:                  992px;
$screen-lg:                  1200px;
$screen-xl:                  1920px;

$screen-xs-max:              ($screen-sm - 1);
$screen-sm-max:              ($screen-md - 1);
$screen-md-max:              ($screen-lg - 1);
$screen-lg-max:              ($screen-xl - 1);