// @font-face {
//   font-family: 'Inter';
//   src: url('../fonts/Inter.ttf');
// }
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap')


@import 'normalize.css'
@import 'variables'
@import 'helpers'
@import 'base'


.image
  display: inline-block
  height: 100px
  width: 100px
  background-image: url('~assets/example.png')
  background-size: cover