<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>{{title}}</title>
  </head>

  <body>
    {{> components/header.html title=htmlWebpackPlugin.options.title}}
    <div id="root"></div>
  </body>
</html>